<h1>Recipes Lists</h1>

<%= button_to link_to 'Add Recipe', new_user_recipe_path %>

<ul>
  <% @recipes.each do |recipe| %>
    <div>
      <b><%= recipe.name %></b>
      <%= button_to 'Delete', user_recipe_path(@user, recipe), method: :delete %>
      <p><%= recipe.description %></p>
      <%= link_to 'Show recipe', user_recipe_path(@user, recipe) %>
    <div>
  <% end %>
</ul>