<h1>Recipes Descriptions</h1>

<h2><%= @recipe.name %></h2>
<label>preparation time</label> <%= @recipe.preparation_time %><br>
<label>Is it public: </label> <%= @recipe.public %><br>
<label>Cooking time </label><%= @recipe.cooking_time %>h<br>
<label>Desctiptions</label> <%= @recipe.description %>