<h1>Foods Lists</h1>
<h3>Should display a list of food added by the logged-in user as in the wireframe (for teams with only 2 people - display also quantity of a given food).</h3>
<h3>Should lead to a form that allows users to add new food.</h3>

<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Measurement</th>
            <th>Price/Unit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @foods.each do |food| %>
        <tr>
            <td><%=food.name %></td>
            <td><%=food.measurement_unit%></td>
            <td><%=food.price%></td>
            <td><%=food.quantity%></td>
            <td><%=button_to 'Delete'%></td>
        </tr>
    <% end %>
    </tbody>
</table>