<h1>Foods Lists</h1>
<%= button_to link_to 'Add Food', new_user_food_path(@user) %>
<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Measurement</th>
            <th>Price/Unit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @foods.each do |food| %>
        <tr>
            <td><%=food.name %></td>
            <td><%=food.measurement_unit%></td>
            <td><%=food.price%></td>
            <td><%=food.quantity%></td>
            <td><%=button_to 'Delete', user_food_path(@user, food), method: :delete%></td>
        </tr>
    <% end %>
    </tbody>
</table>