<div class='container' >
    <div class='loginForm'>
        <h1>Add New Foods</h1>

        <%= form_with model:@food, url: user_foods_path do |f| %>
            <div>
            <div class='food-add-new-name-label'>
                <%= f.label :name, class:'food-add-new-label' %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Enter Name of Food' %> <br><br>
            </div>
            <div class='food-add-new-name-label'>
                <%= f.label :measurement_unit, class:'food-add-new-label' %>
                <%= f.text_field :measurement_unit, autofocus: false, autocomplete: "measurement_unit", placeholder: 'Enter Measurement Unit' %> <br><br>
            </div>
            <div class='food-add-new-name-label'>
                <%= f.label :price, class:'food-add-new-label' %>
                <%= f.text_field :price, autofocus: false, autocomplete: "price", placeholder: 'Enter Price of Food' %><br><br>
            </div>
            <div class='food-add-new-name-label'>
                <%= f.label :quantity, class:'food-add-new-label' %>
                <%= f.text_field :quantity, autofocus: false, autocomplete: "quantity", placeholder: 'Enter quantity of Food' %><br><br>
            </div>
                <div class='food-add-new-button'>
                    <%= f.submit 'Add New Food' %>
                </div>
            </div>
        <% end %>
    </div>
</div>